.introduction-section {
    width: 90%;
    height: 400px;
    padding: 5%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introduction-title {
    font-size: 64px;
    text-align: center;
    font-weight: 700;
    margin: 20px 0;
    color: #FFF;
}

.introduction-text {
    text-align: center;
    width: 60%;
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto;
    color: #FFF;
    line-height: 1.2;
}

.about-section {
    width: 90%;
    height: 400px;
    padding: 5%;
    background-color: var(--primary-color-dark);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
}

.about-img {
    width: 500px;
    height: 450px;
}

.about-box {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-evenly;
    height: 600px;
}

.about-title {
    font-size: 48px;
    font-weight: 500;
    color: #FFF;
}

.about-text {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    line-height: 1.4;
    text-align: justify;
}

.icons-section {
    width: 90%;
    height: 400px;
    padding: 5%;
    background-color: var(--primary-color);
    display: flex;
}

.icons-overall {
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 64px 0;
    justify-content: space-evenly;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 250px; */
    height: 300px;
}

.icon-size {
    font-size: 64px;
    color: #FFF;
    padding: 16px 0;
}

.icon-title {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
    width: 200px;
    height: 80px;
    text-align: center;
    color: #FFF;
}

.icon-text {
    font-size: 16px;
    font-weight: 300;
    width: 200px;
    text-align: justify;
    height: 100px;
    color: #FFF;
}

.tipos-section {
    width: 90%;
    height: 600px;
    padding: 5%;
    background: linear-gradient(90deg, var(--primary-color), var(--primary-color-dark));
    display: flex;   
    flex-direction: column;
    justify-content: space-around;
}

.tipos-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    color: #FFF;
}

.tipos-container {
    display: flex;
    height: 300px;
    justify-content: space-evenly;
}

.tipos-box {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
}

.tipo-title {
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 24px;
}

.tipo-text {
    font-size: 16px;
    font-weight: 300;
    color:#FFF;
    text-align: justify;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.dot {
    color: #FFF;
    font-size: 16px;
    margin-top: 24px;
    margin-right: 12px;
}

.tipo-topic {
    font-size: 16px;
    font-weight: 300;
    color: #FFF;
    text-align: justify;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .about-img {
        width: 40%;
        height: auto;
    }

    .about-box {
        height: 50%;
    }

    .about-title {
        font-size: 32px;
    }

    .about-text {
        font-size: 14px;
    }

    .icon-box {
        width: 20%;
    }

    .icon-size {
        font-size: 48px;
    }

    .icon-title {
        font-size: 24px;
        width: fit-content;
    }

    .icon-text {
        width: 80%;
    }

    .tipos-container {
        margin-bottom: 10%;
    }

    .tipos-box {
        width: 25%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) { 

    .introduction-title {
        font-size: 36px;
    }

    .introduction-text {
        font-size: 16px;
    }

    .about-img {
        width: 40%;
        height: auto;
    }

    .about-box {
        height: 50%;
    }

    .about-title {
        font-size: 26px;
        margin-bottom: 10%;
    }

    .about-text {
        font-size: 12px;
    }

    .icons-section {
        height: fit-content;
    }

    .icons-overall {
        flex-direction: column;
        align-items: center;
    }

    .icon-box {
        width: 60%;
        height: auto;
        margin-bottom: 15%;
    }

    .icon-size {
        font-size: 48px;
    }

    .icon-title {
        font-size: 16px;
        width: fit-content;
        height: 40px;
    }

    .icon-text {
        width: 80%;
        font-size: 12px;
        height: fit-content;
    }

    .tipos-section {
        height: fit-content;
    }

    .tipos-container {
        margin-bottom: 10%;
        height: auto;
    }

    .tipos-box {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 10%;
    }

    .tipos-title {
        font-size: 26px;
        margin: 15% 0;
    }

    .tipos-container {
        flex-direction: column;
    }

    .tipo-title {
        font-size: 20px;
    }

}